<!DOCTYPE html>
<html>
  <head>
    <title>上师大农业基地</title>
    <script>function button_route_funca_Click(){console.log('route_funca click');let xhr = new XMLHttpRequest();xhr.open('post','/route_funca');xhr.send('route_funca');}function button_route_funcb_Click(){console.log('route_funcb click');let xhr = new XMLHttpRequest();xhr.open('post','/route_funcb');xhr.send('route_funcb');}</script>
  </head>
  <body style="text-align:left;">
    <input id="route_funca" onclick="button_route_funca_Click()" style="font-size:20px" type="button" value="A">
    <input id="route_funcb" onclick="button_route_funcb_Click()" style="font-size:20px" type="button" value="B">
  </body>
</html>
